autoflake==1.4
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
cfgv==3.3.1
click==8.0.3
colorama==0.4.4
cycler==0.10.0
distlib==0.3.3
filelock==3.3.0
flake8==3.9.2
flake8-colors==0.1.9
flake8-polyfill==1.0.2
Flask==2.0.2
future==0.18.2
gunicorn==20.1.0
h5py==3.4.0
identify==2.3.0
imageio==2.9.0
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
mando==0.6.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
networkx==2.6.3
nodeenv==1.6.0
numpy==1.21.2
pandas==1.3.3
pep8-naming==0.12.1
Pillow==8.3.2
platformdirs==2.4.0
pre-commit==2.15.0
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.4.1
radon==5.1.0
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.1
six==1.16.0
sklearn==0.0
threadpoolctl==3.0.0
tifffile==2021.10.10
toml==0.10.2
virtualenv==20.8.1
Werkzeug==2.0.2
