/* Color Theme Idea
* purple: #B780F5
* rose: #E080D5
* bluegrey: #B6BBE0
* skyblue: #D9F4FF
* dark purple: #592AE6
*/

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: #B780F5;
  color: white;
  padding: 20px;
}

.title, .subtitle {
  font-family: 'Abril Fatface';
}

.subtitle {
  font-style: italic;
}

main {
  background-color: #fafafa;
  padding: 20px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

#intro {
  background-color: #D9F4FF;
  color: #E080D5;
  font-weight: 600;
  padding: 20px;
}

.instruction {
  color: #B780F5;
  text-align: center;
}

fieldset {
  border: 1px dashed #B6BBE0;
  margin: 20px 0px;
  text-align: center;
}

legend {
  color: #592AE6;
  font-weight: bold;
  padding: 10px;
}

input[type='checkbox'], input[type='file'] {
  margin: 5px;
}

figure {
  border: 1px solid #B6BBE0;;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
}

input[type='radio'] {
  display: none;
}

.artworks label {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

img {
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
}

label img:hover {
  cursor: pointer;
}

.container {
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
}

#image-preview {
  text-align: center;
}

#image-preview img {
  height: 200px;
  width: auto;
}

button {
  background-color: #B780F5;
  border: none;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px auto;
}

button:hover {
  background-color: #592AE6;
  color: white;
  cursor: pointer;
}

button:disabled {
  opacity: 50%;
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  display: none;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}

#modal {
  background-color: #B6BBE0;
  border-radius: 10px;
  color: #592AE6;
  font-family: 'Abril Fatface';
  height: 40%;
  min-height: 400px;
  width: 80%;
  min-width: 200px;
  max-width: 600px;
  padding: 20px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
  z-index: 2;
  visibility: hidden;
}

.rec-image img {
  max-height: 100%;
  max-width: 100%;
}

footer {
  font-size: 0.8rem;
}
