/* Color Theme Idea
* purple: #B780F5
* rose: #E080D5
* bluegrey: #B6BBE0
* skyblue: #D9F4FF
* dark purple: #592AE6
*/

* {
  margin: 0;
  padding: 0;
}

html {
  --color-gray-light: #e5e7eb;
  --color-gray-dark: #4b5563;
  --color-blue-100: #e0f2fe;
  --color-blue-300: #7dd3fc;
  --color-blue-500: #0ea5e9;
  --color-blue-900: #0c4a6e;
  --color-indigo-100: #e0e7ff;
  --color-indigo-500: #6366f1;
  --color-indigo-700: #4338ca;
  --shadow-med: 4px 4px 6px hsl(0deg 0% 0% / 0.5);
  --shadow-high: 6px 6px 8px hsl(0deg 0% 0% / 0.3);
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

/* Header styles */
.logo-container {
  display: inline-block;
}

#logo {
  display: block;
  width: 150px;
}

header,
footer {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

.subtitle, .blurb {
  color: var(--color-gray-dark);
}

.subtitle {
  font-family: 'Philosopher', 'Raileway', sans-serif;
  display: inline;
}

/* Main */
main {
  /* background-color: #fafafa; */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.blurb {
  background-color: var(--color-blue-100);
  border-radius: 8px;
  font-weight: 600;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: var(--shadow-med);
  text-align: center;
}

.container {
  margin-bottom: 60px;
  padding-top: 10px;
  text-align: center;
}

.instruction {
  color: var(--color-gray-dark);
  text-align: center;
}

fieldset {
  border: 1px dashed #b6bbe0;
  margin: 20px 0px;
  text-align: center;
}

legend {
  color: var(--color-indigo-700);
  font-weight: bold;
  padding: 10px;
}

input[type="checkbox"],
input[type="file"] {
  margin: 5px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Hide file input element to add custom styles */
input[type="file"] {
  position: absolute;
  left: -99999rem;
}

.file-upload-label {
  border-radius: 4px;
  color: var(--color-gray-dark);
  font-weight: bold;
  background-color: var(--color-gray-light);
  box-shadow: var(--shadow-high);
  display: inline-block;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}


.file-upload-label:hover,
#input-file:focus + .file-upload-label {
  background-color: var(--color-blue-300);
}

figure {
  border: 1px solid var(--color-indigo-100);
  display: inline-block;
  margin: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
}

input[name="selected-work"] {
  display: none;
}

.artworks label {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.artworks label:hover {
  cursor: pointer;
}

img {
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
}


#image-preview {
  text-align: center;
}

#image-preview img {
  height: 200px;
  width: auto;
}

button {
  background-color: var(--color-indigo-500);
  border: none;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px auto;
  box-shadow: var(--shadow-med);
}

button:hover, button:active {
  background-color: var(--color-indigo-700);
  color: white;
  cursor: pointer;
}

button:disabled {
  opacity: 50%;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#d3-container {
  width: 100%;
  height: 700px;
  overflow: scroll;
}

line {
  pointer-events: none;
}

#preview-image {
  z-index: 2;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
}

#modal {
  background-color: #b6bbe0;
  border-radius: 10px;
  color: #592ae6;
  font-family: "Abril Fatface";
  height: 40%;
  min-height: 400px;
  width: 80%;
  min-width: 200px;
  max-width: 600px;
  padding: 20px;
  margin: auto;
  position: absolute;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
  z-index: 3;
  visibility: hidden;
}

.rec-image img {
  max-height: 100%;
  max-width: 100%;
}

footer {
  background-color: var(--color-indigo-100);
  font-size: 0.8rem;
}

/* Mobile styles */
@media (max-width: 550px) {
  .subtitle {
    font-size: 1rem;
  }
}
