{% extends "base.html.jinja" %}
{% block content %}
  <div id='intro'><p>Welcome to Similart! Want to discover art you might like but not sure how? Choose between our many options, whether it's your own favorite artwork, choosing one from a selection, or taking a short quiz, and our machine learning algorithm will generate recommendations for similar artworks so you can discover and learn about art!</p></div>
  <div id='image-upload-container' class='container'>
    <h3 class='instruction'>Option 1: Upload an image of an artwork that you like</h3>
    <form id='image-upload' action='/upload' method='post' enctype='multipart/form-data'>
      <input type="file" id="user-submission" name="file" accept="image/png, image/jpeg" required>
      <div id="image-preview"></div>
      <button type='submit' id='submit-file' disabled>Submit Image</button>
    </form>
    <h3 class='instruction'>Option 2: Select the artwork that appeals to you the most from the below choices:</h3>
    <form id='image-select' action='/select' method='post'>
      <fieldset class='artworks'>
        {% for i in range(1, 21) %}
          <figure>
            <input type="radio" name="selected-work" id="{{ i }}" value="{{ i }}" required>
            <label for="{{ i }}"><img src="./static/images/{{ i }}.jpeg" alt="Option {{ i }}"/></label>
          </figure>
        {% endfor %}
      </fieldset>
      <button type='submit' id='submit-selection' disabled>Submit</button>
    </form>
  </div>
  <div id='quiz-container' class='container'></div>
    <h3 class='instruction'>Option 3: Take a short quiz</h3>
    <form id='quiz' action='/quiz' method='post'>
      <fieldset>
        <legend>What are you interested in seeing in art?</legend>
        <input type="checkbox" name="theme" value="nature">
        <label for="nature">&#127807; Nature</label>
        <br/>
        <input type="checkbox" name="theme" value="people">
        <label for="people">&#128106; People</label>
        <br/>
        <input type="checkbox" name="theme" value="animals">
        <label for="animals">&#128014; Animals</label>
        <br/>
        <input type="checkbox" name="theme" value="still-life">
        <label for="still-life">&#127824; Still Life/Objects</label>
        <br/>
        <input type="checkbox" name="theme" value="religious">
        <label for="religious">&#10013; Religious</label>
        <br/>
        <input type="checkbox" name="theme" value="abstract">
        <label for="abstract">&#128165; Abstract</label>
        <br/>
        <input type="checkbox" name="theme" value="architecture">
        <label for="architecture">&#128333; Architecture/Structures</label>
        <br/>
        <input type="checkbox" name="theme" value="fashion">
        <label for="fashion">&#129509; Fashion</label>
        <br/>
        <input type="checkbox" name="theme" value="entertainment">
        <label for="entertainment">&#127914; Entertainment</label>
        <br/>
        <input type="checkbox" name="theme" value="death-war-violence">
        <label for="death-war-violence">&#128481; Death/War/Violence</label>
        <br/>
        <input type="checkbox" name="theme" value="mythology-monsters">
        <label for="mythology-monsters">&#129412; Mythology/Monsters</label>
        <br/>
        <input type="checkbox" name="theme" value="food">
        <label for="food">&#127790; Food</label>
        <br/>
         <input type="checkbox" name="theme" value="urban">
        <label for="urban">&#128661; Urban Life</label>
        <br/>
      </fieldset>
      <button type='submit' id='submit-quiz' disabled>Submit Quiz</button>
    </form>
  </div>
{% endblock %}
{% block script %}
  <script src="./static/js/index.js"></script>
{% endblock %}
