<!DOCTYPE html>
<html>
  <head>
    <title>Similart</title>
    <meta charset='utf-8'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">
  </head>
  <body>
    <header>
      <h1 class='title'>Similart &#127912;</h1>
      <h2 class='subtitle'>Discover your new favorite artworks and become an art connoisseur</h2>
    </header>
    <main>
      <div id='intro'><p>Welcome to Similart! Want to discover art you might like but not sure how? Choose to either take a short quiz or upload a piece of art that you like, and our machine learning algorithm will generate recommendations for similar artworks so you can discover and learn about art!</p></div>
      <div id='image-upload-container' class='container'>
        <h3 class='instruction'>Option 1: Upload an image of an artwork that you like</h3>
        <form id='image-upload' action='/upload' method='post' enctype='multipart/form-data'>
          <input type="file" id="user-submission" name="user-submission" accept="image/png, image/jpeg">
          <div id="image-preview"></div>
          <button type='submit' id='submit-file'>Submit Image</button>
        </form>
      </div>
      <div id='quiz-container' class='container'></div>
        <h3 class='instruction'>Option 2: Take a short quiz</h3>
        <form id='quiz' action='/quiz' method='post'>
          <fieldset>
            <legend>What are you interested in seeing in art?</legend>
            <input type="checkbox" name="theme" id="nature" value="nature">
            <label for="nature">&#127807; Nature</label>
            <br/>
            <input type="checkbox" name="theme" id="people" value="people">
            <label for="people">&#128106; People</label>
            <br/>
            <input type="checkbox" name="theme" id="animals" value="animals">
            <label for="animals">&#128014; Animals</label>
            <br/>
            <input type="checkbox" name="theme" id="still-life" value="still-life">
            <label for="still-life">&#127824; Still Life/Objects</label>
            <br/>
            <input type="checkbox" name="theme" id="religious" value="religious">
            <label for="religious">&#10013; Religious</label>
            <br/>
            <input type="checkbox" name="theme" id="abstract" value="abstract">
            <label for="abstract">&#128165; Abstract</label>
            <br/>
          </fieldset>
          <fieldset class='artworks'>
            <legend>Select the artwork that appeals to you the most from the below choices:</legend>
            <figure>
              <input type="radio" name="selected-work" id="1" value="1">
              <label for="1"><img src="./static/images/duccio.jpeg" alt="Maesta by Duccio"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="2" value="2">
              <label for="2"><img src="./static/images/sonofman.jpg" alt="Son of Man by Rene Magritte"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="3" value="3">
              <label for="3"><img src="./static/images/persistence.jpg" alt="Persistence of Memory by Salvador Dali"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="4" value="4">
              <label for="4"><img src="./static/images/pollock.jpeg" alt="Jackson Pollock"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="5" value="5">
              <label for="5"><img src="./static/images/waterlilies.jpeg" alt="Water Lilies by Claude Monet"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="6" value="6">
              <label for="6"><img src="./static/images/tableau-i.jpeg" alt="Tableau I by Pierre Mondrian"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="7" value="7">
              <label for="7"><img src="./static/images/picasso.jpeg" alt="Pablo Picasso"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="8" value="8">
              <label for="8"><img src="./static/images/matisse.jpeg" alt="Henri Matisse"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="9" value="9">
              <label for="9"><img src="./static/images/kandinsky.jpg" alt="Houses at Murnau by Vasily Kandinsky"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="10" value="10">
              <label for="10"><img src="./static/images/the_bamboo_slope.jpeg" alt="The Bamboo Slope by Wang Hui"/></label>
            </figure>
            <figure>
              <input type="radio" name="selected-work" id="11" value="11">
              <label for="11"><img src="./static/images/madame_de_pastoret.jpeg" alt="Madame de Pastoret and Her Son by Jacques Louis David"/></label>
            </figure>
          </fieldset>
          <button type='submit' id='submit-quiz'>Submit Quiz</button>
        </form>
      </div>

    </main>
    <script src="app.js"></script>
  </body>
</html>
